* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}
.form-control::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.form-control:focus {
  box-shadow: none !important;
}

.input-group-text {
  background-color: white;
}
